@model School_Library.Models.AuthorBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuthorBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.NameBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author.AuthorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.NameAuthor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuthorBookID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
